.form-verify-control {
	float: left;
	width: 60%;
	margin-right: 1.4rem;
	height: 1.25rem;
	box-sizing: border-box;
	padding: 0.96rem 0.8rem;
	border-radius: 0.3125rem;
	border: 1px solid #ececec;
	-moz-user-select: none;
    -webkit-user-select: none;
}

.get-verify-btn {
	color: #fff;
	margin-top: 0.2rem;
	border: none;
	width: 5rem;
	height: 1.7rem;
	background-color: #c4af5b;
	border-radius: 0.2125rem;
}

.go-to-regist {
	margin-bottom: 1.875rem;
	margin-top: 1.2rem;
}

.phone-number-4s {
	margin-bottom: 1.25rem;
}