.Password-form{
     margin-top: 1.875rem;
     padding: 0rem 16%;
}

/*退出样式*/
 .layui-m-layerbtn{
     border-top: 0.0625rem solid #fff;
     background-color: white;
}
 .layui-m-layerbtn span[no]{
     border-right: 0.0625rem solid #fff;
}
 