.verify-form {
	margin-top: 1.875rem;
	padding: 0rem 1.25rem;
}

.verify-instruction {
	margin-bottom: 1.25rem;
}

.verify-name {
	margin-bottom: 1.25rem;
}

.verify-name label {
	width: 3.515rem;
	float: left;
	margin-right: 0.625rem;
	margin-top: 0.625rem;
}

.form-verify-name-control {
	width: 11.5rem;
	height: 1.8rem;
	border-radius: 0.3125rem;
	margin-right: 1.68rem;
	box-sizing: border-box;
	padding: 0 0.8rem;
	border: 1px solid #ececec;
}


/*清除样式*/

.triangle .item-triangle .inner-triangle {
	font-size: 15px;
	padding-left: 0rem;
	padding-right: 0rem;
}

label.label-checkbox i.icon-form-checkbox {
	border-radius: 0.2125rem;
	width: 15px;
	height: 15px;
	position: relative;
	top: -7px;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
	border: 1px solid #E5E5E5;
	background-color: #b9a159;
}


/*交易钱包充值钱包CSS样式*/

.transcation-all-btn {
	width: 3.9rem;
	height: 1.8rem;
	line-height: 1.8rem;
	border-radius: 0.3125rem;
	color: white;
	border: none;
	background-color: #b9a159;
}

.warnning {
	color: red;
}

.warnning-word {}

.wallet-content {
	min-height: 1.875rem!important;
	margin-bottom: 1.25rem;
	width: 99%;
	border: 1px solid #ECECEC;
	border-radius: 0.3125rem;
}

.wallet-inner {
	min-height: 1.875rem!important;
}

.navbar a.link i+i,
.navbar a.link i+span,
.navbar a.link span+i,
.navbar a.link span+span,
.subnavbar a.link i+i,
.subnavbar a.link i+span,
.subnavbar a.link span+i,
.subnavbar a.link span+span,
.toolbar a.link i+i,
.toolbar a.link i+span,
.toolbar a.link span+i,
.toolbar a.link span+span {
	margin-left: 0.4375rem;
	color: black;
}

.verify-btn {
	width: 100%;
}

.back,
.link span {
	display: none;
}
.texts-justify {
	text-align: justify;
}
a.link {
	width: 100%;
}
.icon-back {
	margin-left: 0.3rem;
}
